# Set Timezone
php_value date.timezone 'Asia/Kolkata'

# Disable Directory Listing
Options -Indexes

# File Extension Remove
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]